/* Estilo general */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #2b2b2b, #0d0d0d);
    color: #f0f0f0;
}

/* Encabezado */
header {
    text-align: center;
    padding: 40px 20px;
    background: #1b1b1b;
    border-bottom: 3px solid #8b6f47;
}

header h1 {
    font-size: 70px;
    margin: 0;
    color: #c9b27c;
    text-shadow: 2px 2px 10px black;
}

header p {
    font-size: 20px;
    color: #cccccc;
}

/* Menú */
nav {
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #c9b27c;
}

/* Contenido principal */
main {
    width: 85%;
    margin: 30px auto;
}

.tarjeta {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    border-left: 5px solid #8b6f47;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.tarjeta h2 {
    color: #d4c093;
}

/* Lista */
ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin: 10px 0;
}

/* Pie de página */
footer {
    text-align: center;
    background: #1b1b1b;
    padding: 15px;
    color: #aaaaaa;
    border-top: 2px solid #8b6f47;
}